
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" value="{{this.user.name}}" placeholder="First Name" name="name">
      <label for="floatingInput">نام</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" value="{{this.user.email}}" placeholder="Last Name" name="email">
      <label for="floatingInput">ایمیل</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="password" minlength="8" pattern="^(?=.*[a-z])(?=.*[0-9]).{8,}$" class="form-control" placeholder="email@email.com" name="password">
      <label for="floatingInput">رمزعبور</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">تایید</button>
  </div>
